<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <title>Halftone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="static/css/superfish.css" media="screen">
  <link rel="stylesheet" href="static/css/nivo-slider.css" media="all">
  <link rel="stylesheet" href="static/css/tweet.css" media="all">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/lessframework.css" media="all">
  <script src="static/js/modernizr-2.5.3.min.js"></script>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper cf">
  <header class="cf">
    <!-- social-bar -->
    <div class="cf"></div>
    <!-- ENDS social-bar -->
    <div id="header_logo">
      <div id="logo" class="cf"> <a href="http://localhost:8080/"><img src="static/img/logo3.png" alt="" height="256" width=auto></a></div> <!-- logo -->
      <div class="logo_text">
        <div id="full_logo" class="cf">ГАОУ "Губрнаторский многопрофильный-лицей интернат для одаренных детей оренбужья"</div>
        <div id="smaller_logo" class="cf">Технологический профиль</div>
      </div>
    </div>
    <!-- nav -->
    <nav class="cf">
      <ul id="nav" class="sf-menu">
        <li><a href="http://localhost:8080/"><span>ГЛАВНАЯ</span></a></li>
        <li class="current-menu-item"><a href="http://localhost:8080/about"><span>О ЛИЦЕЕ</span></a></li>
        <li><a href="http://localhost:8080/docs"><span>ДОКУМЕНТЫ</span></a></li>
        <li><a href="http://localhost:8080/postupaushim"><span>ПОСТУПАЮЩИМ</span></a></li>
      </ul>
      <div id="combo-holder"></div>
    </nav>
    <!-- ends nav -->
  </header>
  <!-- MAIN -->
  <div role="main" id="main" class="cf">
    <h3>Сведения о лицее</h3>
    <ul class="documents1">
      <li>Полное наименование образовательной организации: Государственное автономное общеобразовательное учреждение «Губернаторский многопрофильный лицей-интернат для одаренных детей Оренбуржья»</li>
      <li>Сокращенное наименование образовательной организации: ГАОУ «Губернаторский многопрофильный лицей-интернат для одаренных детей Оренбуржья»</li>
      <li>Дата создания образовательной организации: август 2000 года </li>
      <li>Учредитель образовательной организации: Министерство образования Оренбургской области </li>
      <li>Министр образования Оренбургской области: Пахомов Алексей Александрович </li>
      <li>Представительства и филиалы образовательной организации (в том числе, находящиеся за пределами Российской Федерации): отсутствуют </li>
      <li>Место нахождения образовательной организации: 460014, Оренбургская область, г. Оренбург, ул. Советская, д. 18 </li>
      <li>Режим работы образовательной организации: круглосуточно </li>
      <li>График работы образовательной организации: пн-пт — с 8:30 до 18:00, сб — с 8:00 до 14:00 </li>
      <li>Контактный телефон (приемная)образовательной организации: +7(3532)43-60-51 </li>
      <li>Факс образовательной организации: +7 (3532)77-25-73 </li>
      <li>Официальный сайт образовательной организации: лиод.рф </li>
      <li>Адрес электронной почты образовательной организации: liod@mail.orb.ru </li>
      <li>Страница в VK: vk.com/orenliod </li>
      <li>Место осуществления образовательной деятельности: г. Оренбург, ул. Советская, д. 18</li>
    </ul>
    <div class="block-divider"></div>
    <h3>Структура и органы управления образовательной организацией: </h3>
    <h4 class="null">Ресурсный центр по работе с одаренными детьми (по вопросам поступления, обучения, курсов):</h4>

    <ul class="documents1">
      <li>Старший методист (руководитель ресурсного центра): Иванченко Татьяна Васильевна</li>
      <li>Место нахождения: г. Оренбург, ул. Советская, д.18 </li>
      <li>Тел.: +7 (3532) 43-60-53</li>
      <li>Электронная почта: rcliod@yandex.ru </li>
      <li>Официальный сайт: www.лиод.рф</li>
    </ul>

    <h4 class="null">Центр выявления и поддержки одаренных детей "Гагарин", Оренбургская область</h4>
    <ul class="documents1">
      <li>Руководитель: Уржумов Алексей Александрович </li>
      <li>Место нахождения: г. Оренбург, ул. Советская, д.18</li>
      <li>Тел.: +7 (987) 849-15-19, +7 (3532) 43-60-54 </li>
      <li>Электронная почта: oren.gagarin@yandex.ru </li>
      <li>Официальный сайт: https://orengagarin.ru/ </li>
    </ul>
    <div class="block-divider"></div>
    <h3>Образование</h3>
    <ul class="documents1">
      <li>Реализуемые программы: программа основного общего образования и программа среднего общего образования</li>
      <li>Формы обучения: Основное общее образование - очная, очно-заочная, заочная;</li>
      <li>Среднее общее образование - очная, очно-заочная; </li>
      <li>Нормативные сроки обучения: Основное общее образование — 2 года; Среднее общее образование — 2 года; </li>
      <li>Срок действия государственной аккредитации образовательных программ: до 31 мая 2025 года</li>
      <li>Язык обучения по программам основного общего образования и среднего общего образования: русский</li>
      <li>Практика по реализуемым образовательным программам не предусмотрена</li>
      <li>При реализации образовательных программ могут быть использованы электронное обучение и дистанционные образовательные технологии</li>
      <li>Общая численность обучающихся (2023): 157 человек</li>
    </ul>
    <div class="block-divider"></div>
    <h3>Руководство</h3>
    <ul class="documents1">
      <li>Жантурганова Юлия Анатольевна - директор; (3532) 43-60-51</li>
      <li>Ивенина Татьяна Владимировна - заместитель директора по научной работе; (3532) 43-60-53 доб.3 </li>
      <li>Андреева Наталья Викторовна - Заместитель директора по учебной работе; (3532) 43-60-53 доб.4 </li>
      <li>Федосова Ольга Ивановна - заместитель директора по воспитательной работе; (3532) 43-60-57 доб.4 </li>
      <li>Микиртычева Ирина Владимировна - заместитель директора по ИКТ; (3532) 43-60-53 доб.2 </li>
      <li>Першина Галина Федоровна - заместитель директора по административно-хозяйственной части; (3532) 43-60-57 доб.1 </li>
      <li>Кобзев Андрей Сергеевич - заместитель директора по безопасности; (3532) 43-60-57 доб.1 </li>
      <li>Уржумов Алексей Александрович - руководитель структурного подразделения; (3532) 43-60-54 доб.1 </li>
      <li>Иванченко Татьяна Васильевна - руководитель структурного подразделения; (3532) 43-60-53 доб.1 </li>
    </ul>
    <div class="block-divider"></div>
    <h4>Лицей-интернат включает в себя два корпуса: учебный корпус и корпус общежития.
      В учебном корпусе лицея-интерната насчитывается 25 учебных кабинетов. Все кабинеты имеют оборудованное РМУ (рабочее место учителя), место ученика, соответствующее росту, часть оснащены раковинами, подведено горячее и холодное водоснабжение. 100 % кабинетов соответствуют требованиям СанПиН. Все кабинеты имеют подключение к локально-вычислительной сети с доступом в Интернет. </h4>
    <h4>Большая работа ведется педагогами по развитию учебных кабинетов. Учителями создана методическая и информационная база для творческой работы учителя и учеников: наличие паспорта кабинета с перспективным планом развития, наличие компьютера, проектора, интерактивной панели, видеотеки, таблиц, дидактического и наглядного материала, учебников, справочной литературы, познавательной и занимательной литературы, методических пособий для учителей, методических разработок уроков, пособий для научно–исследовательской и реферативной работы, примерных требований к написанию рецензий, комплектов материалов для ЕГЭ, контрольно–измерительных материалов по всем предметам, текстов художественных произведений, схем. Разработана система различных памяток, создан богатый дидактический материал разных уровней. </h4>
    <h4>Помимо учебных кабинетов функционируют:
      столовая на 80 посадочных мест;
      оснащенный спортивный зал (200 кв.м.);
      раздевалки, душевые и туалеты при спортивном зале для мальчиков и девочек;
      танцевальный зал;
      актовый зал на 112 посадочных мест;
      конференц-зал на 45 посадочных мест;
      кабинет психолога;
      подсобные помещения. </h4>
    <h4>В здании общежития (проектная мощность 200 мест) функционируют:
      библиотека и читальный зал на 20 посадочных мест;
      комнаты для самоподготовки (2);
      малый актовый зал на 40 посадочных мест;
      тренажерный зал (100 кв.м.);
      35 жилых блоков, оснащенных душевыми кабинами и туалетами;
      4 помещения для чаепития, оснащенные холодильниками, микроволновыми печами, чайниками;
      прачечная;
      раздевалка с полками для обуви;
      комнаты для сушки белья (2);
      административные помещения (2);
      складские помещения (2).</h4>
    <h4>Все помещения оборудованы средствами доступа к информационным системам и информационно-коммуникационным сетям, что позволяет использовать электронные образовательные и информационные ресурсы как собственные, так и сторонние.</h4>
  </div>
  <!-- ENDS MAIN -->
  <footer>
    <!-- twitter -->
    <div id="twitter-holder">
      <div class="ribbon-left"></div>
      <div class="ribbon">
        <div id="tweets-bar" class="tweet">
          <ul class="tweet_list">
            <li class="tweet_first tweet_odd"><span class="tweet_time"><a href="#"></a></span> <span class="tweet_text">Welcome to the club, buddy!<a href="#"></a></span></li>
          </ul>
        </div>
      </div>
      <div class="ribbon-right"></div>
    </div>
    <!-- ENDS twitter -->
    <!-- widgets -->
    <ul  class="widget-cols cf">
      <li class="first-col">
        <div class="widget-block">
          <h4>ССЫЛКИ</h4>
          <ul>
            <li><a href="http://localhost:8080/docs"><span>сайт лицея</span></a></li>
            <li><a href="http://localhost:8080/DICK"><span>их вк</span></a></li>
            <li><a href="http://localhost:8080/about"><span>их ютуб</span></a></li>
            <li><a href="http://localhost:8080/about"><span>что-нибудь еще</span></a></li>
          </ul>
        </div>
      </li>
      <li class="second-col">
        <div class="widget-block">
          <h4>О НАС</h4>
          <p>напишите сюда что-нибудь</p>
        </div>
      </li>
      <li class="third-col">
        <div class="widget-block">
          <h4>ПРОЕКТЫ</h4>
          <p>наши другие работы</p>
        </div>
      </li>
      <li class="fourth-col">
        <div class="widget-block">
          <h4>СТРАНИЦЫ</h4>
          <ul>
            <li><a href="http://localhost:8080/docs"><span>ДОКУМЕНТЫ</span></a></li>
            <li><a href="http://localhost:8080/DICK"><span>ЧТО-ТО</span></a></li>
            <li><a href="http://localhost:8080/about"><span>О НАС</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
    <!-- ENDS widgets -->
    <!-- bottom -->
    <div id="bottom">
      <div id="widget-trigger-holder"><a id="widget-trigger" href="#" title="View More" class="poshytip"></a></div>
      <div id="content">&copy; Copyright 2023 | fuck you btw</div>    </div>
    <!-- ENDS bottom -->
  </footer>
</div>
<!-- ENDS WRAPPER -->
<!-- JavaScript at the bottom for fast page loading -->
<script src="static/js/jquery-1.7.1.min.js"></script>
<!-- scripts concatenated and minified via build script -->
<script src="static/js/custom.js"></script>
<!-- superfish -->
<script src="static/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script src="static/js/superfish-1.4.8/js/superfish.js"></script>
<script src="static/js/superfish-1.4.8/js/supersubs.js"></script>
<!-- ENDS superfish -->
<script src="static/js/jquery.nivo.slider.js"></script>
<script src="static/js/css3-mediaqueries.js"></script>
<script src="static/js/tabs.js"></script>
<script src="static/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
<!-- end scripts -->
</body>
</html>