<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <title>ПОСТУПАЮЩИМ</title>
  <link rel="shortcut icon" type="image/x-icon" href="/templates/static/img/logo3.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/superfish.css" media="screen">
  <link rel="stylesheet" href="static/css/nivo-slider.css" media="all">
  <link rel="stylesheet" href="static/css/tweet.css" media="all">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/lessframework.css" media="all">
  <script src="static/js/modernizr-2.5.3.min.js"></script>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper cf">
  <header class="cf">
    <!-- social-bar -->
    <div class="cf"></div>
    <!-- ENDS social-bar -->
    <div id="header_logo">
      <div id="logo" class="cf"> <a href="http://localhost:8080/"><img src="static/img/logo3.png" alt="" height="256" width=auto></a></div> <!-- logo -->
      <div class="logo_text">
        <div id="full_logo" class="cf">ГАОУ "Губрнаторский многопрофильный-лицей интернат для одаренных детей оренбужья"</div>
        <div id="smaller_logo" class="cf">Технологический профиль</div>
      </div>
    </div>
    <!-- nav -->
    <nav class="cf">
      <ul id="nav" class="sf-menu">
        <li><a href="http://localhost:8080/"><span>ГЛАВНАЯ</span></a></li>
        <li><a href="http://localhost:8080/about"><span>О ЛИЦЕЕ</span></a></li>
        <li><a href="http://localhost:8080/docs"><span>ДОКУМЕНТЫ</span></a></li>
        <li class="current-menu-item"><a href="http://localhost:8080/postupaushim"><span>ПОСТУПАЮЩИМ</span></a></li>
      </ul>
      <div id="combo-holder"></div>
    </nav>
    <!-- ends nav -->
  </header>
  <!-- MAIN -->
  <div role="main" id="main" class="cf">
    <h3>экзаменационные темы</h3>
    <ul class="documents">
      <li><a href="https://лиод.рф/assets/5_Postupaushim/Tema_sobesed/10_kl/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0-%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9-%D0%BF%D0%BE-%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%BE%D0%BC%D1%83-%D1%8F%D0%B7%D1%8B%D0%BA%D1%83_9%D0%BA%D0%BB.pdf">русский</a></li>
      <li><a href="https://лиод.рф/assets/5_Postupaushim/Tema_sobesed/10_kl/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0-%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9-%D0%BF%D0%BE-%D0%BC%D0%B0%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B5.pdf">математика</a></li>
      <li><a href="https://лиод.рф/assets/5_Postupaushim/Tema_sobesed/10_kl/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0-%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9-%D0%BF%D0%BE-%D1%84%D0%B8%D0%B7%D0%B8%D0%BA%D0%B5.pdf">физика</a></li>
      <li><a href="https://лиод.рф/assets/5_Postupaushim/Tema_sobesed/10_kl/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0-%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9-%D0%BF%D0%BE-%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B5.pdf">информатика</a></li>
    </ul>
    <div class="block-divider"></div>
    <div class="documents">
      <h4>Основная задача нашего проекта - показать жизнь лицеистов изнутри, такую, какая она на самом деле. Она очень продуктивная, насыщенная и интересная, мы никогда не сидим на месте (но только не во время выполнения домашнего задания). Чтобы обсудить некоторые вопросы о поступлении, жизни и учёбе, мы решили взять интервью у учеников 10 технологического класса. Они расскажут всё, что необходимо знать новичку.</h4>
      <h4>Чариков Никита - почётный титулованный физмат 10 класса;</h4>
      <h4>вопросы:</h4>
      <h4>- Как ты узнал о таком учреждении, как Губернаторский лицей-интернат? Почему решил выбрать именно технологический профиль?</h4>
      <h4 class="other_color">- В губернаторский лицей меня пригласила моя учительница биологии ещё после 8 класса, но решился туда идти в начале 9. Технологический профиль я выбрал, потому что с детства мечтал стать кем-то, кто связан с физикой или математикой.</h4>
      <h4>- Как ты считаешь, какими качествами должен обладать истинный физмат? </h4>
      <h4 class="other_color">- Истинный физмат должен быть очень целеустремленным и преодолевать все трудности. Он не должен бояться тяжелой работы, а напротив, он обязан стремиться к самым звездам.</h4>
      <h4>- Что главное в общажной жизни? Насколько хорошо ты взаимодействуешь со своими соседями, как с одноклассниками, так и с другими классами? </h4>
      <h4 class="other_color">- В общажной жизни очень важно, конечно же, общение с разными людьми, с учениками из других профилей, а также взаимопонимание и взаимоуважение с соседями.  С ними я живу дружно и уютно, с другими классами у нас тоже хорошие взаимоотношения. </h4>
      <h4>- Тебе тяжело жить вдали от родителей? Не было ли у тебя желания вернуться домой? Если да, то что тебя потревожило или разочаровало?</h4>
      <h4 class="other_color">- От родителей жить вдали не так уж и страшно, потому что я каждый день созваниваюсь с ними. Иногда есть желание вернуться домой, но это желание быстро пропадает, ведь я знаю, что родители верят в меня, верят в то, что я справлюсь. </h4>
      <h4>- Как тебе темп обучения и жизни? Расскажи о своём типичном дне.</h4>
      <h4 class="other_color">- Тема обучения сначала был довольно резкий, но довольно быстро я влился и подстроился под темп лицея. Мой день начинается в 6:30. Я иду умываться, после этого до конца просыпаюсь, убираю комнату, если за мной закреплено дежурство, потом  одеваюсь, собираю портфель и иду в лицей. Затем уроки, заканчиваются уроки в 14:30, после 6-го урока обед, потом у нас могут быть допы или 7 урок, но так же часто есть свободное время. После окончания рабочего дня я прихожу в общежитие и отдыхаю, делаю уроки или иду на секцию по волейболу, принимаю душ и ложусь спать. В целом, мой день проходит очень продуктивно. Часто мы выходим в город на прогулки, в музеи или в кинотеатры.
        Расскажи нам о своих достижениях. В этом году я впервые стал участником регионального этапа ВсОШ по информатике и набрался опыта.</h4>
      <div class="block-divider"></div>
    </div>
  </div>
  <!-- ENDS MAIN -->
  <footer>
    <!-- twitter -->
    <div id="twitter-holder">
      <div class="ribbon-left"></div>
      <div class="ribbon">
        <div id="tweets-bar" class="tweet">
          <ul class="tweet_list">
            <li class="tweet_first tweet_odd"><span class="tweet_time"><a href="#"></a></span> <span class="tweet_text">Welcome to the club, buddy!<a href="#"></a></span></li>
          </ul>
        </div>
      </div>
      <div class="ribbon-right"></div>
    </div>
    <!-- ENDS twitter -->
    <!-- widgets -->
    <ul  class="widget-cols cf">
      <li class="first-col">
        <div class="widget-block">
          <h4>ССЫЛКИ</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="https://лиод.рф/"><span>лиод.рф</span></a></li>
              <li><a href="https://vk.com/oren.liod.life"><span>лиод.вк</span></a></li>
              <li><a href="https://youtube.com/@user-eh3tb9qs2l"><span>лиод.youtube</span></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="second-col">
        <div class="widget-block">
          <h4>GITHUB</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="https://github.com/salim34888/technoGYMforpupils"><span>repository</span></a></li>
              <li><a href="https://github.com/salim34888/technoGYMforpupils/commits/main"><span>commits</span></a></li>
              <li><a href="https://github.com/salim34888/technoGYMforpupils/blob/main/README.md"><span>readme.md</span></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="third-col">
        <div class="widget-block">
          <h4>ПРОЕКТЫ</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="https://github.com/salim34888"><span>my github</span></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="fourth-col">
        <div class="widget-block">
          <h4>ОСНОВНОЕ</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="http://localhost:8080/"><span>ГЛАВНАЯ</span></a></li>
              <li><a href="http://localhost:8080/docs"><span>ДОКУМЕНТЫ</span></a></li>
              <li><a href="http://localhost:8080/postupaushim"><span>ПОСТУПАЮЩИМ</span></a></li>
              <li><a href="http://localhost:8080/about"><span>О ЛИЦЕЕ</span></a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <!-- ENDS widgets -->
    <!-- bottom -->
    <div id="bottom">
      <div id="widget-trigger-holder"><a id="widget-trigger" href="#" title="View More" class="poshytip"></a></div>
      <div id="content"> website by DaSal & Rus &copy; 2023 </div>
    </div>
    <!-- ENDS bottom -->
  </footer>
</div>
<!-- ENDS WRAPPER -->
<!-- JavaScript at the bottom for fast page loading -->
<script src="static/js/jquery-1.7.1.min.js"></script>
<!-- scripts concatenated and minified via build script -->
<script src="static/js/custom.js"></script>
<!-- superfish -->
<script src="static/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script src="static/js/superfish-1.4.8/js/superfish.js"></script>
<script src="static/js/superfish-1.4.8/js/supersubs.js"></script>
<!-- ENDS superfish -->
<script src="static/js/jquery.nivo.slider.js"></script>
<script src="static/js/css3-mediaqueries.js"></script>
<script src="static/js/tabs.js"></script>
<script src="static/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
<!-- end scripts -->
</body>
</html>