<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<title>ГЛАВНАЯ</title>
  <link rel="shortcut icon" type="image/x-icon" href="/templates/static/img/logo3.png"/>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/css/superfish.css" media="screen">
<link rel="stylesheet" href="static/css/nivo-slider.css" media="all">
<link rel="stylesheet" href="static/css/tweet.css" media="all">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/lessframework.css" media="all">
<script src="static/js/modernizr-2.5.3.min.js"></script>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper cf">
  <header class="cf">
    <!-- social-bar -->
    <div class="cf"></div>
    <!-- ENDS social-bar -->
    <div id="header_logo">
      <div id="logo" class="cf"> <a href="http://localhost:8080/"><img src="static/img/logo3.png" alt="" height="256" width=auto></a></div> <!-- logo -->
      <div class="logo_text">
        <div id="full_logo" class="cf">ГАОУ "Губернаторский многопрофильный-лицей интернат для одаренных детей оренбужья"</div>
        <div id="smaller_logo" class="cf">Технологический профиль</div>
      </div>
    </div>
    <!-- nav -->
    <nav class="cf">
      <ul id="nav" class="sf-menu">
        <li class="current-menu-item"><a href="http://localhost:8080/"><span>ГЛАВНАЯ</span></a></li>
        <li><a href="http://localhost:8080/about"><span>О ЛИЦЕЕ</span></a></li>
        <li><a href="http://localhost:8080/docs"><span>ДОКУМЕНТЫ</span></a></li>
        <li><a href="http://localhost:8080/postupaushim"><span>ПОСТУПАЮЩИМ</span></a></li>
      </ul>
      <div id="combo-holder"></div>
    </nav>
    <!-- ends nav -->
  </header>
  <!-- MAIN -->
  <div role="main" id="main" class="cf">
    <!-- SLIDER -->
    <h2>Хочешь поступить в Губернаторский многопрофильный лицей-интернат для одаренных детей Оренбуржья на технологический профиль и связать свою жизнь с точными науками? Тогда тебе к нам! </h2>
    <div class="slider-wrapper theme-halftone">
      <div id="slider" class="nivoSlider"> <img src="static/img/dummies/slides/1.jpg" alt="" width=auto height="512"> <img src="static/img/dummies/slides/3.jpg" alt="" width=auto height="512"> <img src="static/img/dummies/slides/8.jpg" alt="" width=auto height="512"> </div>
      <div class="slider-left"></div>
      <div class="slider-right"></div>
    </div>
    <h4>Этот сайт был создан самими учениками лицея, учащихся в технологическом классе. Здесь ты сможете найти абсолютно всё, что поможет тебе присоединиться к нашей лицейской семье на стороне точных наук.</h4>
    <h4>Технологический профиль предполагает изучение математики, физики и информатики на углубленном уровне. После технологического профиля в школе можно смело попробовать себя в программировании — это по-прежнему прибыльная и перспективная профессия. Или работать с техникой изнутри – стать квалифицированным инженером, механиком. А может ты хочешь проектировать здания, заниматься их дизайном и разработкой их конструкции? Такие профессии, как конструктор и архитектор станут доступными для тебя, если ты выберешь технологический профиль.</h4>
    <h4>Для развития интеллектуальных и творческих способностей учеников в лицее проводится разнообразная внеурочная деятельность: занятия по подготовке к олимпиадам, дополнительные занятия в Центре выявления и поддержки одаренных детей «Гагарин», занятия по другим образовательным программам. Также часто проводятся различные научные конференции.</h4>
    <!-- ENDS SLIDER -->

    <!-- ENDS featured -->
  </div>
  <!-- ENDS MAIN -->
  <footer>
    <!-- twitter -->
    <div id="twitter-holder">
      <div class="ribbon-left"></div>
      <div class="ribbon">
        <div id="tweets-bar" class="tweet">
          <ul class="tweet_list">
            <li class="welcome">Welcome to the club, buddy!</li>
          </ul>
        </div>
      </div>
      <div class="ribbon-right"></div>
    </div>
    <!-- ENDS twitter -->
    <!-- widgets -->
    <ul  class="widget-cols cf">
      <li class="first-col">
        <div class="widget-block">
          <h4>ССЫЛКИ</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="https://лиод.рф/"><span>лиод.рф</span></a></li>
              <li><a href="https://vk.com/oren.liod.life"><span>лиод.вк</span></a></li>
              <li><a href="https://youtube.com/@user-eh3tb9qs2l"><span>лиод.youtube</span></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="second-col">
        <div class="widget-block">
          <h4>GITHUB</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="https://github.com/salim34888/technoGYMforpupils"><span>repository</span></a></li>
              <li><a href="https://github.com/salim34888/technoGYMforpupils/commits/main"><span>commits</span></a></li>
              <li><a href="https://github.com/salim34888/technoGYMforpupils/blob/main/README.md"><span>readme.md</span></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="third-col">
        <div class="widget-block">
          <h4>ПРОЕКТЫ</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="https://github.com/salim34888"><span>my github</span></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="fourth-col">
        <div class="widget-block">
          <h4>ОСНОВНОЕ</h4>
          <div class="lists-plus">
            <ul>
              <li><a href="http://localhost:8080/"><span>ГЛАВНАЯ</span></a></li>
              <li><a href="http://localhost:8080/docs"><span>ДОКУМЕНТЫ</span></a></li>
              <li><a href="http://localhost:8080/postupaushim"><span>ПОСТУПАЮЩИМ</span></a></li>
              <li><a href="http://localhost:8080/about"><span>О ЛИЦЕЕ</span></a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <!-- ENDS widgets -->
    <!-- bottom -->
    <div id="bottom">
      <div id="widget-trigger-holder"><a id="widget-trigger" href="#" title="View More" class="poshytip"></a></div>
      <div id="content"> website by DaSal & Rus &copy; 2023 </div>
    </div>
    <!-- ENDS bottom -->
  </footer>
</div>
<!-- ENDS WRAPPER -->
<!-- JavaScript at the bottom for fast page loading -->
<script src="static/js/jquery-1.7.1.min.js"></script>
<!-- scripts concatenated and minified via build script -->
<script src="static/js/custom.js"></script>
<!-- superfish -->
<script src="static/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script src="static/js/superfish-1.4.8/js/superfish.js"></script>
<script src="static/js/superfish-1.4.8/js/supersubs.js"></script>
<!-- ENDS superfish -->
<script src="static/js/jquery.nivo.slider.js"></script>
<script src="static/js/css3-mediaqueries.js"></script>
<script src="static/js/tabs.js"></script>
<script src="static/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
<!-- end scripts -->
</body>
</html>